@font-face {
  font-family: "PingFang";
  src: url("/resources/苹方黑体-准-简.ttf");
}

body {
  background-image: linear-gradient(50deg, #e8f09f, #faaaf6);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "PingFang", system-ui;
}

@media (min-width: 768px) {
  .card {
    width: 85%;
    max-width: 768px;
    margin: 40px auto;
  }
}

@media (max-width: 767px) {
  .card {
    width: 94%;
    margin: 30px auto;
  }
}

.card {
  background: rgba(255, 250, 240, .6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}